:root {
  --brightyellow: #ffc82c;
  --gold: #dfb94c;
  --darkblue: #0042d6;
  --lightblue: #6292fd;
  --pink: #e37383;
  --lightpink: #ffb6c1;
}

@font-face {
  font-family: headerFont;
  src: url(/assets/fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
  font-family: formFont;
  src: url(/assets/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}

h1 {
  font-family: headerFont, Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: 36pt;
  letter-spacing: 3px;
}
.addCourse {
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 310px;
  margin-right: 310px;
  background-color: var(--lightblue);
  border-radius: 15px;
  display: grid;
  grid-template-rows: 50px repeat(2, 80px);
  grid-template-columns: 20px repeat(2, 280px) 20px;
}

.course div:nth-child(odd) {
  padding: 20px;
  margin: 80px;
  margin-left: 220px;
  margin-right: 100px;
  background-color: var(--darkblue);
  border-radius: 15px;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 1fr);
}

.course div:nth-child(odd) h2 {
  text-align: right;
}

.course div:nth-child(even) {
  padding: 20px;
  margin: 80px;
  margin-left: 100px;
  margin-right: 220px;
  background-color: var(--gold);
  border-radius: 15px;
  display: grid;
  grid-template-rows: 50px repeat(4, 100px);
  grid-template-columns: repeat(4, 1fr);
}

#add {
  grid-row: 3;
  grid-column: 3;
  border-radius: 5px;
  border: rgb(246, 37, 71) solid 2px;
  background-color: var(--lightpink);
  margin: 15px;
  margin-left: 65px;
  margin-right: 0;
  color: rgb(246, 37, 71);
  font-size: 16pt;
  font-weight: bold;
  font-family: formFont, Arial, Helvetica, sans-serif;
}

#add:hover {
  background-color: var(--pink);
  color: var(--lightpink);
  font-size: 18pt;
}

.addCourse h2 {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 4;
}

h2 {
  text-align: center;
  color: white;
  font-size: 16pt;
  font-family: headerFont, Arial, Helvetica, sans-serif;
}

.name {
  margin-top: 30px;
  width: 60%;
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

#error {
  grid-row: 3;
  grid-column: 2;
  text-align: center;
  margin-top: -9px;
  color: #002c8d;
}

label {
  padding: 20px;
  margin: 10px;
  text-align: center;
  vertical-align: center;
  font-size: 14pt;
  font-family: formFont, Arial, Helvetica, sans-serif;
}

input {
  height: 30px;
  vertical-align: center;
  border-radius: 5px;
  border: var(--darkblue) solid 2px;
  font-family: formFont, Arial, Helvetica, sans-serif;
}

.course h2 {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.course h3 {
}
