:root {
  --lightpink: #ffdbd1;
  --pink2: #ffa4a4;
  --darkblue: #0042d6;
  --lightblue: #6292fd;
  --pink: #e37383;
  --green: rgb(158, 255, 158);
}

@font-face {
  font-family: headerFont;
  src: url(/assets/fonts/Pacifico/Pacifico-Regular.ttf);
}

.schedule {
  display: flex;
  padding: 50px;
  margin: 10px;
  flex-direction: column;
}

table,
td,
th,
tr {
  border: 2px solid grey;
  border-collapse: collapse;
}

td,
th {
  padding: 20px;
}

h1 {
  font-family: headerFont, cursive, Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: 36pt;
  letter-spacing: 3px;
}

p,
button {
  text-align: center;
}

button {
  margin-top: 30px;
  margin-left: 80px;
  border-radius: 5px;
  border: rgb(246, 37, 71) solid 2px;
  padding: 10px;
  background-color: var(--lightpink);
  color: rgb(246, 37, 71);
  font-size: 13pt;
  font-weight: bold;
  font-family: formFont, Aptos, Arial, Helvetica, sans-serif;
}

#courseItem:nth-child(even){
  padding: 10px;
  background-color: var(--green);
  border-radius: 10px;
  border: none;
}

#courseItem:nth-child(odd){
  
}
