@font-face {
  font-family: headerFont;
  src: url(/assets/fonts/Pacifico/Pacifico-Regular.ttf);
}

.schedule {
  display: flex;
  padding: 50px;
  margin: 10px;
  flex-direction: column;
}

table,
td,
th,
tr {
  border: 2px solid grey;
  border-collapse: collapse;
}

td,
th {
  padding: 20px;
}

h1 {
  font-family: header, Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: 36pt;
  letter-spacing: 3px;
}
